body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
}

p {
    color: grey;
}

h1 {
    font-size: 50px;
}

.orange {
    color: orange;
}

.flexible {
    display: flex;
    margin-bottom: 150px;
}

.half {
    width: 50%;
    padding-left: 7%;
}

.half img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#FA6956, #F7805E);
    padding: 8px 24px;
    border-radius: 8px;
    color: white;
    font-weight: 600;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.exp {
    width: 40%;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 10px 10px;
}